body{
    background-image: url(image/bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
h1{
    text-shadow: rgb(142, 16, 231);
    text-align: center;
    color: cyan;
}
.main {
    border: 6px solid #c913a1;
    border-radius: 5px;
	width: 200px;
    margin: 0 auto;
	}
.result {
    width: 98%;
	background-color: rgba(128, 128, 128, 0);
	color: #fff;
	}
.clearbtn {
	width: 100%;
	background-color: rgba(127, 255, 255, 0.664);
	color: black;
	margin: 1px;
	margin-top: 5px;
	}
.btn {
	width: 22%;
	background-color: #ad4beecb;
	margin: 1px;
	}
.btn getresult{
    background-color: rgb(66, 206, 241);
}
